<div class="modal fade" id="modal-collection" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"> <i class="fa fa-plus text-gray"></i> Payment Collection</h4>
      </div>
      
      <form name="form" ng-validate="add_payment(payment)" class="form-horizontal" novalidate>
      
        <div class="modal-body">
            <div class="row">
    
                <div class="col-xs-12">
                    <div class="row form-group">
                        <label class="col-xs-6 control-label">Type:</label>
                        <div class="col-xs-6">
                          <select name="type" ng-model="payment.tender_type" ng-dropdown required >
                            <option ng-option value="Cash">Cash</option>
                            <option ng-option value="Check">Check</option>
                            <option ng-option value="Money Order">Money Order</option>
                            <option ng-option value="Card">Debit Card</option>
                          </select>
                          <div class="alert alert-danger" ng-show="form.$submitted && form.type.$error.required">Select a type.</div>
                        </div>
                    </div>
                </div>
                
            <div class="col-xs-12"  ng-show="payment.tender_type == 'Check' || payment.tender_type == 'Cash' || payment.tender_type == 'Money Order' || payment.tender_type == 'Card'">
                <div class="col-xs-12">
                    <div class="row form-group">
                        <label class="col-xs-6 control-label">Payment Date:</label>
                        <div class="col-xs-6">
                          <input type="text" class="form-control" readonly="true" ng-model="payment.date" />
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <div class="row form-group">
                        <label class="col-xs-6 control-label">Applied to late charge:</label>
                        <div class="col-xs-6">
                          <input type="number" class="form-control"   ng-model="payment.applied_to_late_charge" placeholder="0.0" numbers-only="numbersOnly" />
                        </div>
                    </div>
                </div>
                
                 <div class="col-xs-12">
                    <div class="row form-group">
                        <label class="col-xs-6 control-label">Applied to balance:</label>
                        <div class="col-xs-6">
                          <input type="number" class="form-control"   ng-model="payment.applied_to_balance" placeholder="0.0" numbers-only="numbersOnly" />
                        </div>
                    </div>
                </div>
                
                 <div class="col-xs-12">
                    <div class="row form-group">
                        <label class="col-xs-6 control-label">Applied to maturity interest:</label>
                        <div class="col-xs-6">
                          <input type="number" class="form-control"   ng-model="payment.applied_to_maturity_interest" placeholder="0.0" numbers-only="numbersOnly" />
                        </div>
                    </div>
                </div>

                 <div class="col-xs-12">
                    <div class="row form-group">
                        <label class="col-xs-6 control-label">Applied to nsf charge:</label>
                        <div class="col-xs-6">
                          <input type="number" class="form-control"   ng-model="payment.applied_to_nsf_charge" placeholder="0.0" numbers-only="numbersOnly" />
                        </div>
                    </div>
                </div>
                
                    <div ng-if = "payment.tender_type == 'Cash'">
                        <div class="row form-group">
                            <label class="col-xs-6 control-label">Amount tendered:</label>
                            <div class="col-xs-6">
                              <input type="number" class="form-control"  ng-model="payment.amount_tendered"  placeholder="0.0"  numbers-only="numbersOnly"  />
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-xs-6 control-label">Change due:</label>
                            <div class="col-xs-6">
                                <div><h4>{{changeDue(payment) | customCurrency}}</h4> </div>                                 
                            </div>
                        </div>
                    </div>

                    <div ng-if = "payment.tender_type == 'Check'">
                        <div class="row form-group">
                            <label class="col-xs-6 control-label">Check #:</label>
                            <div class="col-xs-6">
                              <input type="number" class="form-control" ng-model="payment.check_number" placeholder="0.0" numbers-only="numbersOnly" />
                            </div>
                        </div>
                    </div>

                    <div ng-if = "payment.tender_type == 'Card'">
                        <div class="row form-group">
                            <label class="col-xs-6 control-label">Card Type (last 4 digits):</label>
                            <div class="col-xs-6">
                                <input type="number" class="form-control" ng-model="payment.card_type" placeholder="0.0" numbers-only="numbersOnly" maxlength="4"  />
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="row form-group" ng-switch-default></div>
                    -->
                </div> 
            </div>
        </div>

        <div class="modal-footer text-right">
            <div class="row ">
                
                <div class="col-xs-12">
                    <button class="btn btn-default" type="submit"  > 
                        <i class="fa fa-plus"></i>  Add Payment
                    </button>        
                </div>

            </div>
        </div>

      </form>
      
    </div>

  </div>
</div>